<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring MVC Hello World</title>
    <link th:href = "@{/css/bootstrap.css}" rel="stylesheet">

</head>

<body>
<div class="container">
    <h2>All Employees in System</h2>

    <table border="1">
        <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${{employee.id}}">ID</td>
            <td th:text="${{employee.firstName}}">first name</td>
            <td th:text="${{employee.lastName}}">last name</td>
        </tr>
    </table>
<h1><a href="/">Go to Index</a></h1>
</div>
</body>
</html>