<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring MVC Hello World</title>
</head>

<body>
    <h2>All Employees in System</h2>

    <table border="1">
        <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr th:each="employees : ${employees}">
            <td th:text="${{employees.id}}">ID</td>
            <td th:text="${{employees.firstName}}">first name</td>
            <td th:text="${{employees.lastName}}">last name</td>
        </tr>
    </table>
<h1><a href="/">Go to Index</a></h1>
</body>
</html>